nav {
  display: flex;
  height: 120px;
  width: 100vw;
  position: fixed;
  background-color: #4056A1;
  justify-content: space-between;
  align-items: center;
  color:rgb(255, 254, 246);
}

/* .navbar-main {

} */
.right-header {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#unique {
  display: flex;
  margin-right: 1.5em;
  color: rgb(255, 0, 0);
  flex-direction: column;

}
.logo {
  display: flex;
  font-family: 'Bungee', cursive;
  margin-left:1.5em;
  /* justify-content:baseline; */
}

.writeTweet {
  display: flex;
  margin-right: 1.5em;
}