@media only screen and (min-width: 320px) and (max-width: 960px) {
 .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-tweet {
display: flex;
flex-direction: column;
}

.styledButtonCounter {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
}

button {
  background-color: coral;
  color: aliceblue;
  border-radius: 5px;
}
 

.tweet-text {
  border-top: transparent;
  border-left: transparent;
  border-right: black;
  background: transparent;
  width: 80vw;
}

.tweetForm {
  width: 80vw;

}

}
@media only screen and (min-width: 960px) {


  .container {
    display: flex;
    flex-direction: column;
    justify-items: right;
    align-items: center;
  }
  .new-tweet {
  display: flex;
  flex-direction: column;
  justify-items: right;
  }
  
  .styledButtonCounter {
    display: flex;
    justify-content: space-between;
    font-family: 'Bungee', cursive;
  }
  
  button {
    background-color: olive;
    color: aliceblue;
    border-radius: 5px;
  }
  
  
  .tweet-text {
    border-top: transparent;
    border-left: transparent;
    border-right: black;
    background: transparent;
    width: 40vw;
  }
  
  .tweetForm {
    width: 40vw;
  }





}